<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <form method="POST" th:object="${userForm}">
        <h2>Регистрация</h2>
        <label>
            <input type="text" th:field="*{username}" placeholder="Username" autofocus="true"/>
        </label>
        <br>
        <label>
            <input type="password" th:field="*{password}" placeholder="Password"/>
        </label>
        <br>
        <label>
            <input type="password" th:field="*{passwordConfirm}" placeholder="Confirm your password"/>
        </label>
        <br>
        <button type="submit">Зарегистрироваться</button>
    </form>
    <br>
    <h4><a href="/">Главная</a></h4>
</div>
</body>
</html>