<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="post" th:object="${userUpdate}">
    <table border="1">
        <th>Name</th>
        <th>Role</th>
        <th>Action</th>
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{password}"/>
        <tr>
            <td>
                <input type="text" th:field="*{username}"/>
            </td>
            <td>
                <input type="text" th:field="*{roles}"/>
            </td>
            <td>
                <input type="submit" value="Save">
            </td>
        </tr>
    </table>
</form>
</body>
</html>